{% extends 'customer_source_list.html' %}



{% block main %}

<div class="archives">
    {% if query %}
        {% for c_post in page.object_list %}
            <article class="archive-article archive-type-post">
              <div class="archive-article-inner">
                <header class="archive-article-header">
                <a href="#" class="archive-article-date">
                     <time>{{ c_post.object.created|date:'Y-m' }}</time>
                </a>

                 <h1 itemprop="SourceName">
                      <a class="archive-article-title" target="_blank" href="/client/{{ c_post.object.id }}">{{ c_post.object.title }}</a>
                 </h1>
                 </header>
              </div>
            </article>
         {% empty %}
            无记录
        {% endfor %}
    {% endif %}



</div>



{% endblock main %}
